@use "functions" as *;
@use "variables" as *;
@use "font" as *;

@mixin flex-centering() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-centering() {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin input-text() {
  color: $desaturated-red;
  font-family: $base-font;
  font-size: $base-font-size;
}
