@use "functions" as *;

// Colors
// Primary

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// Neutral
$dark-grayish-red: hsl(0, 6%, 24%);

// Gradient
$red-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$light-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

// Colors Pallete
$colors: (
  "desaturated-red": $desaturated-red,
  "soft-red": $soft-red,
  "dark-red": $dark-grayish-red,
);

// Font size
$base-font-size: rem(16) !default;

// Border Radius
$base-border-radius: rem(8) !default;

// Box-Shadow
// $base-box-shadow: 0px 10px 25px rgba($blue, 0.1), 0px 10px 25px rgba($blue, 0.1);
