@use "../utils" as *;

main {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "logo hero"
    "content hero"
    "content hero";
  margin-left: rem(160);
  height: 100vh;

  .logo {
    grid-area: logo;
  }

  .content {
    grid-area: content;
  }

  .hero {
    grid-area: hero;
  }

  @include breakpoint-max(xl) {
    margin-left: rem(50);
  }

  @include breakpoint-max(sm) {
    margin: 0 auto rem(114) auto;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr;
    grid-template-areas:
      "logo "
      "hero"
      "content";
  }
}
