@use "../utils" as *;

.content {
  padding-top: rem(130);
  margin-right: rem(30);

  &__hero-text {
    font-size: rem(64);
    text-transform: uppercase;
    line-height: rem(70);
    max-width: rem(366);
    letter-spacing: rem(15);
    margin-bottom: rem(20);

    span {
      font-weight: 300;
    }

    @include breakpoint-max(sm) {
      font-size: rem(48);
      line-height: rem(50);
    }
  }

  &__hero-description {
    font-size: $base-font-size;
    max-width: rem(427);
    line-height: rem(25.5);
    margin-bottom: rem(40);

    @include breakpoint-max(sm) {
      max-width: rem(346);
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint-max(lg) {
    margin: 0 auto;
  }

  @include breakpoint-max(sm) {
    text-align: center;
    padding-top: rem(70);
  }
}
